@model IEnumerable<TP3_ASPNet.Models.PessoaModel>

@{
    ViewData["Title"] = "AniversariantesDia";
}

<h1>Aniversariantes do Dia</h1>

<p>
    <a asp-action="Index">Voltar ao inico</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Sobrenome
            </th>
            <th>
                Data de Nascimento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SobreNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.birth)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                    @Html.ActionLink("Detalhes", "DetalhesPessoa", new { id = item.Id }) |
                    @Html.ActionLink("Deletar", "Deletar", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
